.departmentsGrid {
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

.learningApproachGrid {
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
