.dashBoardButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 0.5rem;
  background: var(--blue-400);
  box-shadow: 0 0 8px var(--teal-500);
  border: none;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: var(--blue-500);
    box-shadow: var(--box-shadow-blue);
  }
}
