.statsGrid {
  display: grid;
  gap: 1.5rem;

  & .statCard {
    background: var(--charcoal-blue-500);
    backdrop-filter: blur(16px);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    animation: fadeInUp 0.6s ease forwards;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }

  & .statHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  & .statIcon {
    width: 3.5rem;
    height: 3.5rem;
    background: linear-gradient(135deg, var(--teal-500), var(--teal-400));
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-blue);

    & svg {
      font-size: 1.25rem;
      width: 1.25rem;
      color: var(--white);
    }
  }

  & .statContent {
    text-align: right;
  }

  & .title {
    color: var(--gray-text-500);
    font-size: 1rem;
  }
  & .value {
    font-size: 2.25rem;
    font-weight: 700;
  }

  & .subTitle {
    color: var(--gray-text-500);
    font-size: 0.85rem;
  }
}
