.dashboardSection {
  padding: 2rem;
  gap: 1.5rem;
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    & h3 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
      text-shadow: 0 0 6px var(--teal-500);
    }

    & p {
      color: var(--gray-text-400);
      margin-top: 0.25rem;
    }
  }
}
