.dashboardSideNavMobile {
  width: 20rem;
  background: var(--midnight-blue-400);
  backdrop-filter: blur(16px);
  border-right: var(--card-border);
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100%;
  z-index: 1000;

  /* overflow-y: scroll; */

  @media (min-width: 1024px) {
    display: none;
  }

  & .sidebarHeader {
    border-bottom: var(--card-border);
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & a {
      width: 100%;
    }
    & div {
      position: relative;
      width: 65%;
      height: 5rem;
      /* 
      cursor: pointer; */
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & nav {
    flex: 1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .navLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: var(--gray-text-500);
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1.5rem;

    & .iconBox {
      position: relative;
    }

    & svg {
      color: inherit;
    }

    &:hover {
      color: var(--white);
      background: rgba(255, 255, 255, 0.05);
    }
  }

  & nav > button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
  }

  & .navLink.active {
    background: linear-gradient(90deg, rgba(60, 166, 252, 0.2), transparent);
    border: var(--card-border);
    color: var(--white);
    box-shadow: var(--box-shadow-blue);
  }

  & .navFooter {
    padding: 1rem;
    border-top: var(--card-border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & hr {
    margin: 1rem 0;
    border: var(--card-border);
  }

  /* .closeIcon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
    cursor: pointer;
  } */
}
