& .bigEventCard {
  background: var(--charcoal-blue-500);
  border-radius: 1.5rem;
  border: var(--card-border);
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: var(--box-shadow-hover);
    & img {
      scale: 1.1;
    }
  }

  & .imageWrapper {
    position: relative;
    height: 12rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  & .badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--white);
  }

  & .date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    color: var(--white);
    font-size: 0.875rem;
  }

  & .eventContent {
    padding: 2rem;
  }

  & .eventHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  & .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: var(--white);
  }

  & .icon.accentBlue {
    background: linear-gradient(to bottom right, #0066ff, #1e40af);
  }

  & .icon.greenTeal {
    background: linear-gradient(to bottom right, #22c55e, #14b8a6);
  }

  & .eventTitle {
    font-size: 1.5rem;
    font-weight: 700;
  }

  & .eventTime {
    color: var(--gray-text-500);
  }

  & .eventDescription {
    color: var(--gray-text-400);
    margin-bottom: 1.5rem;
  }

  & .eventDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    color: var(--gray-text-400);

    & > div {
      display: flex;
      align-items: center;
    }

    & svg {
      color: #0066ff;
      margin-right: 0.5rem;
    }
  }

  & .buttons {
    display: flex;
    gap: 1rem;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  & .primaryGradient {
    flex: 1;
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.05rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }

  & .outlineAccent {
    border: 1px solid var(--blue-400);
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1.05rem;
    background: transparent;
    color: inherit;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: var(--white);
    }
  }
}
