.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  margin-bottom: 4rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & .experienceSection {
    & .title {
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: var(--white);
    }

    & .experienceList {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & .experienceItem {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      & .iconWrapper {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 0.25rem;

        & svg {
          color: var(--white);
          font-size: 0.75rem;
        }
      }

      & .text {
        color: var(--gray-text-400);
        font-size: 1.125rem;
      }
    }
  }

  & .infoCard {
    backdrop-filter: blur(12px);
    background: var(--charcoal-blue-500);
    border-radius: 1rem;
    padding: 2rem;
    border: var(--card-border);
    transition: all 0.3s ease;
    &:hover {
      box-shadow: var(--box-shadow-hover);
    }

    & .infoTitle {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: var(--white);

      @media(max-width: 1024px) {
        text-align: center;
      }
    }

    & .infoGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      & .infoItem {
        text-align: center;

        & .infoIcon {
          width: 4rem;
          height: 4rem;
          border-radius: 9999px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto 0.75rem;
          box-shadow: 0 0 12px rgba(60, 166, 252, 0.6);

          & svg {
            color: var(--white);
            font-size: 1.25rem;
          }
        }

        & .infoLabel {
          font-size: 0.875rem;
          color: var(--gray-text-500);
          margin-bottom: 0.25rem;
        }

        & .infoValue {
          color: var(--white);
          font-weight: 700;
        }
      }
    }
  }
}
