.teamMembersGrid {
  font-size: 13px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.coreValuesGrid {
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
