.pricingGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardWrapper {
    position: relative;
    transition: transform 0.3s;

    .badge {
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      color: var(--white);
      padding: 0.5rem 1.5rem;
      border-radius: 9999px;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }

  .gradientBorder {
    border-radius: 1.5rem;
    padding: 1px;
    border: var(--card-border);
    transition: all 0.3s ease;
    box-shadow: var(--cohorts-card-box-shadow);

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }

    .inner {
      background: var(--cohorts-card-bg);
      border-radius: 1.5rem;
      padding: 2.5rem;
      text-align: center;

      .iconWrapper {
        display: inline-block;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
      }

      .title {
        font-size: 1.875rem;
        font-weight: 700;
        color: var(--white);
        margin-bottom: 0.5rem;
      }

      .subtitle {
        color: var(--gray-text-400);
        font-size: 1rem;
      }

      .price {
        margin: 2rem 0;
        font-size: 3rem;
        font-weight: 900;
        color: var(--white);

        & + .perMonth {
          color: var(--gray-text-400);
          font-size: 1rem;
        }
      }

      .features {
        text-align: left;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .feature {
          display: flex;
          align-items: center;
          color: var(--gray-text-400);

          svg {
            margin-right: 0.75rem;
          }
        }
      }

      .button {
        width: 100%;
        color: var(--white);
        font-weight: 700;
        font-size: 1.125rem;
        border-radius: 0.75rem;
        padding: 1rem 0;
        transition: transform 0.3s;
        border: none;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }

      & > a {
        display: flex;
        width: 100%;
        justify-content: center;
        text-decoration: none;
      }
    }
  }
}
