.cohortItem {
  display: flex;
  align-items: center;

  .iconBox {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;

    & svg {
      color: var(--white);
      font-size: 1.5rem;
      width: 1.5rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .cohortTitle {
    color: var(--gray-text-400);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .date {
    color: var(--teal-500);
    font-size: 1.125rem;
  }

  .info {
    color: var(--gray-text-500);
  }
}
