.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & .header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  & .iconBox {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  & .icon {
    font-size: 1.25rem;
    color: var(--white);
  }

  & .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
  }

  & .subtitle {
    color: var(--gray-text-500);
  }

  & .topics {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & .topic {
    display: flex;
    align-items: flex-start;
  }

  & .topicIcon {
    width: 2.5rem;
    height: 2.2rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 0.25rem;
    font-weight: 600;
  }

  & .topicTitle {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  & .topicDesc {
    color: var(--gray-text-500);
    font-size: 0.875rem;
  }
}
