.header {
  position: fixed;
  top: 0;
  height: 4.15rem;
  width: 100%;
  z-index: 50;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 1.5rem;
  box-sizing: border-box;

  & nav {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
    height: 100%;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      & > svg {
        display: none;
        color: var(--dodger-blue);
        cursor: pointer;

        @media (max-width: 1024px) {
          display: block;
        }
      }
    }
  }

  & .left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  & .logo {
    position: relative;
    width: 10rem;
    height: 3rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  & .link {
    color: var(--gray-text-400);
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: var(--teal-400);
    }
  }

  & .dropdownWrapper {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover button {
      color: var(--teal-400);
    }
  }

  & .dropdown {
    display: flex;
    flex-direction: column;
    background: var(--midnight-blue-500);
    position: absolute;
    bottom: -100px;
    border-radius: 10px;
    width: 10rem;
    overflow: hidden;
    box-shadow: var(--box-shadow-blue);
    border: var(--card-border);
    padding: 0;

    & li {
      border-bottom: var(--card-border);

      &:hover {
        color: var(--white);
        background: var(--charcoal-blue-500);
      }
    }

    & a {
      display: flex;
      align-items: flex-start;
      padding: 1rem;
      color: var(--gray-text-400);
      text-decoration: none;
      width: 100%;
    }
  }

  & .dropdownBtn {
    color: var(--gray-text-400);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    transition: all 0.3s ease;
  }

  & .icon {
    font-size: 0.75rem;
  }

  & .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .getStarted {
    background-color: var(--blue-400);
    font-size: 1rem;
  }

  & .getStarted:hover {
    background-color: var(--blue-500);
    box-shadow: var(--box-shadow-blue);
  }
}

@media (max-width: 1024px) {
  .header {
    & .links,
    .right {
      display: none;
    }
  }
}
