.header {
  text-align: center;
  margin-bottom: 4rem;

  & h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  & p {
    font-size: 1.25rem;
    color: var(--gray-text-500);
    max-width: 48rem;
    margin: 0 auto;
  }
}
