.highlight {
  text-align: center;

  & h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  & p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  & .iconWrapper {
    color: var(--white);
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    font-size: 1.5rem;
  }

  & .gradientText {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
