.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  align-items: center;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rightColumn {
  position: relative;
}

