.partnershipsGridWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
  & .logoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }


}
