.card {
  background: var(--charcoal-blue-400);
  border-radius: 1.5rem;
  padding: 2rem;
  backdrop-filter: blur(10px);
  border: var(--card-border);
  transition: all 0.4s ease;
  color: var(--gray-text-400);

  & h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-6px);
  }

  & .icon {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    & svg {
      font-size: 1.5rem;
      color: var(--white);
    }
  }

  & p {
    color: var(--gray-text-500);
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      font-size: 0.95rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      color: var(--gray-text-400);

      & svg {
        margin-right: 0.5rem;
        flex-shrink: 0;
      }
    }
  }

  & .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    width: 100%;

    & a {
      color: var(--white);
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      font-weight: 500;
      font-size: 0.9rem;
      transition: all 0.3s ease;
      box-shadow: 0 0 0 transparent;
      text-decoration: none;

      &:hover {
        box-shadow: var(--box-shadow-hover);
      }
    }
  }
}
