.card {
  background: var(--charcoal-blue-400);
  padding: 2em;
  border-radius: 1.5em;
  border: var(--card-border);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: var(--box-shadow-hover);
  }

  .imageWrapper {
    position: relative;
    margin-bottom: 2em;
  }

  .avatar {
    width: 6em;
    height: 6em;
    border-radius: 9999px;
    object-fit: cover;
    margin: 0 auto;
    border: 4px solid var(--dodger-blue);
    transition: border-color 0.3s ease;
    box-shadow: var(--avatar-box-shadow);
  }

  &:hover .avatar {
    border-color: var(--teal-400);
  }

  .iconBadge {
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    width: 3em;
    height: 3em;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: var(--white);
  }

  .role {
    color: var(--teal-400);
    font-weight: 600;
    margin-bottom: 1em;
  }

  .details {
    font-size: 0.875em;
    color: var(--gray-text-500);
    margin-bottom: 1.5em;
    line-height: 1.6;
  }

  .details p {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25em;

    & > svg {
      font-size: 1.2em;
      width: 1.2em;
    }
  }

  .description {
    color: var(--gray-text-400);
    line-height: 1.7;
    margin-bottom: 1.5em;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .socialIcon {
    width: 2.5em;
    height: 2.5em;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--midnight-blue-300);
    color: var(--teal-400);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--teal-400);
      color: var(--white);
    }
  }
}
