.teamGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem; /* gap-12 */
  max-width: 80rem; /* max-w-7xl */
  margin: 0 auto;


}

@media (min-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .teamGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
