.testimonialGridContainer {
  display: flex;
  flex-direction: column;

  & .grid {
    display: grid;
    gap: 2rem;
  }

 
}

@media (min-width: 1024px) {
  .testimonialGridContainer {
    & .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
