.buttonWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  width: 100%;

  & .readMoreBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    /* background-color: var(--blue-400); */
    color: var(--blue-500);
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    /* border: 1px solid var(--gray-text-500); */
    cursor: pointer;
    transition: all 0.3s ease;
    gap: .3rem;

    /* &:hover {
        color: var(--white);
      background-color: var(--blue-500);
      box-shadow: var(--box-shadow-blue);
      transform: translateY(-2px);
    } */
  }
}
