.button {
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 transparent;
  border: none;
  font-size: 0.9rem;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}
