.tagline {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    width: fit-content;
    color: var(--white);

    & > span {
      font-size: 0.875rem;
      text-transform: capitalize;
    }

    & > svg {
      color: var(--teal-400);
      margin-right: 0.5rem;
    }
  }