.videoSectionGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & .card {
    background: var(--charcoal-blue-500);
    border-radius: 1.25rem;
    overflow: hidden;
    backdrop-filter: blur(12px);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }

  & .videoWrapper {
    position: relative;
    height: 16rem;
  }

  & .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      color: #ff0033;
      font-size: 5rem;
      margin-left: 0.25rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  /* & .playButton {
    width: 5rem;
    height: 5rem;
    background-color: #0ea5e9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #38bdf8;
    }

    & svg {
      color: var(--white);
      font-size: 1.5rem;
      margin-left: 0.25rem;
    }
  } */

  & .duration {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
  }

  & .content {
    padding: 1.5rem;
  }

  & .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 0.5rem;
  }

  & .description {
    color: var(--gray-text-500);
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  & .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .date {
    color: var(--teal-500);
    font-size: 0.875rem;
  }

  & .views {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-text-500);
    font-size: 0.875rem;
  }
}
