.wrapper {
  background: var(--charcoal-blue-500);
  padding: 3rem;
  border-radius: 1.5rem;
  border: var(--card-border);
  backdrop-filter: blur(12px);
  box-shadow: var(--box-shadow-blue);
  max-width: 64rem;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
  }

  .label {
    color: var(--gray-text-400);
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .input,
  .textarea,
  .select {
    width: 100%;
    padding: 1rem 1.5rem;
    background: var(--charcoal-blue-500);
    border: var(--card-border);
    border-radius: 1rem;
    color: var(--white);
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .input::placeholder,
  .textarea::placeholder {
    color: var(--gray-text-500);
  }

  .input:focus,
  .textarea:focus,
  .select:focus {
    outline: none;
    border-color: var(--teal-500);
    box-shadow: var(--box-shadow-blue);
  }

  .selectWrapper {
    position: relative;
  }

  .select {
    appearance: none;
    -webkit-appearance: none;
  }

  .selectWrapper i {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-text-500);
    pointer-events: none;
  }

  .textarea {
    resize: none;
  }

  .checkboxRow {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  .checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background: var(--charcoal-blue-500);
    border: var(--card-border);
    accent-color: var(--teal-500);
  }

  .privacyLabel {
    color: var(--gray-text-400);
    font-size: 0.875rem;
  }

  .link {
    color: var(--teal-500);
    cursor: pointer;
    transition: text-decoration 0.2s;
  }

  .link:hover {
    text-decoration: underline;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .submitButton {
    background: var(--contact-bg-gradient);
    color: var(--white);
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1.25rem 2rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--contact-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .submitButton:hover {
    box-shadow: var(--contact-box-shadow-hover);
    transform: translateY(-1px);
  }

  .submitButton i {
    margin-right: 0.75rem;
  }

  & .errorMessage {
    color: var(--red-400);
    margin-top: 0.3rem;
    font-size: 1rem;
  }
  & .errorBackground {
    background: var(--red-300);
  }
}
